# Tuplas
 - Tuplas são estruturas imutavéis, pode ser represetado entre () ou somente separando com ,

numeros = 1, 2, 3, 4, 5
texto = ('texto1', 'texto2', 'texto3')

In [2]:
numeros = 1, 2, 3, 4, 5
texto = ('texto1', 'texto2', 'texto3')

In [3]:
numeros

(1, 2, 3, 4, 5)

In [4]:
texto

('texto1', 'texto2', 'texto3')

In [5]:
type(numeros)

tuple

In [6]:
type(texto)

tuple

In [7]:
for i in range(len(numeros)):
  print(i, numeros[i])

0 1
1 2
2 3
3 4
4 5

# Dicionários

In [8]:
pessoa = {'nome': 'edmar', 'idade': 40, 'sexo': 'M'}

In [9]:
type(pessoa)

dict

In [11]:
pessoa['nome']

'edmar'

In [12]:
cadastro =[{'nome': 'Joao', 'idade': 20, 'sexo': 'M'}, {'nome': 'Maria', 'idade': 53, 'sexo': 'F'}]
cadastro

[{'nome': 'Joao', 'idade': 20, 'sexo': 'M'},
 {'nome': 'Maria', 'idade': 53, 'sexo': 'F'}]

In [16]:
cadastro[1]['nome']

'Maria'

In [18]:
cadastro_dic = {'nomes': ['Jose', 'Maria', 'Joao'],
                'idades': [12, 52, 45],
                'sexos': ['M', 'F', 'M']}

In [21]:
cadastro_dic['nomes']

['Jose', 'Maria', 'Joao']

In [24]:
cadastro_dic['alturas'] = [1.5, 1.8, 1.7]

In [25]:
cadastro_dic

{'nomes': ['Jose', 'Maria', 'Joao'],
 'idades': [12, 52, 45],
 'sexos': ['M', 'F', 'M'],
 'aturas': [1.5, 1.8, 1.7],
 'alturas': [1.5, 1.8, 1.7]}

In [ ]:
# Remover 
cadastro_dic.pop('aturas')

[1.5, 1.8, 1.7]

In [27]:
cadastro_dic

{'nomes': ['Jose', 'Maria', 'Joao'],
 'idades': [12, 52, 45],
 'sexos': ['M', 'F', 'M'],
 'alturas': [1.5, 1.8, 1.7]}

In [31]:
# Adicionar
cadastro_dic['nomes'].append('Joaquina')
cadastro_dic['idades'].append(55)
cadastro_dic['alturas'].append(1.8)
cadastro_dic

{'nomes': ['Jose',
  'Maria',
  'Joao',
  'Joaquina',
  'Joaquina',
  'Joaquina',
  'Joaquina'],
 'idades': [12, 52, 45, 55, 55, 55, 55],
 'sexos': ['M', 'F', 'M'],
 'alturas': [1.5, 1.8, 1.7, 1.8]}

In [39]:
#  Percorrer
for chave in cadastro_dic:
  print(chave, cadastro_dic[chave][1])

nomes Maria
idades 52
sexos F
alturas 1.8

In [40]:
cadastro_dic.values()

dict_values([['Jose', 'Maria', 'Joao', 'Joaquina', 'Joaquina', 'Joaquina', 'Joaquina'], [12, 52, 45, 55, 55, 55, 55], ['M', 'F', 'M'], [1.5, 1.8, 1.7, 1.8]])

In [41]:
for valor in cadastro_dic.values():
  print(valor)

['Jose', 'Maria', 'Joao', 'Joaquina', 'Joaquina', 'Joaquina', 'Joaquina']
[12, 52, 45, 55, 55, 55, 55]
['M', 'F', 'M']
[1.5, 1.8, 1.7, 1.8]

In [43]:
for chave, valor in cadastro_dic.items():
  print(chave, valor)

nomes ['Jose', 'Maria', 'Joao', 'Joaquina', 'Joaquina', 'Joaquina', 'Joaquina']
idades [12, 52, 45, 55, 55, 55, 55]
sexos ['M', 'F', 'M']
alturas [1.5, 1.8, 1.7, 1.8]

In [44]:
# Compressao de listas
[valor[2] for valor in cadastro_dic.values()]

['Joao', 45, 'M', 1.7]

# Conjuntos

In [48]:
conjuto = {'a', True, 3, 'a'}
conjuto

{3, True, 'a'}

In [49]:
for elemento in conjuto:
  print(elemento)

a
True
3

In [50]:
type(conjuto)

set

In [51]:
# Adicionar dados no conjunto
conjuto.add('B')

In [52]:
conjuto

{3, 'B', True, 'a'}

In [54]:
# remover
conjuto.remove(3)
conjuto

{'B', True, 'a'}

In [56]:
# Vericar os elementos que se repetem ou interseção
l1 = [1, 3, 6, 8, 9, 10]
l2 = [1, 4, 6, 10, 11, 12]
set(l1).intersection(set(l2))

{1, 6, 10}

In [57]:
# Uniao
set(l1).union(l2)

{1, 3, 4, 6, 8, 9, 10, 11, 12}

In [58]:
# diferença
set(l1).difference(set(l2))

{3, 8, 9}

In [59]:
set(l1) - set(l2)

{3, 8, 9}

In [61]:
num_1, num_2, num_3 =  (1,2,3)
num_1

1